/* This file is required for site administration. Do not delete. */

devsite-pricing-plans .devsite-pricing-plans-payment-modal-container {
  height: unset;
}

@media screen and (max-width: 1600px) {
  body[layout][concierge]
    .devsite-main-content[has-book-nav]
    devsite-toc.devsite-toc-embedded:not(:empty) {
    display: block;
  }

  body[layout][concierge][template='landing']
    .devsite-main-content[has-book-nav]
    devsite-toc.devsite-toc-embedded:not(:empty) {
    margin: 20px 40px 24px;
  }

  body[layout][concierge]
    .devsite-main-content[has-book-nav] devsite-toc.devsite-toc-embedded:not(:empty) {
    display: block;
    margin: 28px 0 24px;
  }

  body[layout][concierge]
    .devsite-main-content[has-book-nav] devsite-toc.devsite-toc-embedded:not(:empty)
    ~ .devsite-article-body
    > :first-child {
    margin-top: 0;
  }

  body[layout][concierge][template='landing'] devsite-toc.devsite-toc-embedded:not(:empty) {
    margin: 20px 40px 24px;
  }
}

@media screen and (max-width: 1400px) {
  body[layout][concierge] .devsite-main-content devsite-toc.devsite-toc {
    display: none;
  }

  body[layout][concierge]
    .devsite-main-content
    devsite-toc.devsite-toc-embedded:not(:empty) {
    display: block;
  }

  body[layout][concierge][template='landing']
    .devsite-main-content
    devsite-toc.devsite-toc-embedded:not(:empty) {
    margin: 20px 40px 24px;
  }
}