/*
 * See: https://fonts.google.com/license/googlerestricted
 */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/productsans/v20/pxiDypQkot1TnFhsFMOfGShVF9eL.ttf) format('truetype');
}
